* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

.items {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 4px;
	flex-wrap: wrap;
	background-color: beige;
}

.item {
	width: calc((100% - 32px) / 5);
}

.item:nth-child(5n + 1) {
	background-color: yellowgreen;
}
.item:nth-child(5n + 2) {
	background-color: blue;
}
.item:nth-child(5n + 3) {
	background-color: aqua;
}
.item:nth-child(5n + 4) {
	background-color: violet;
}
.item:nth-child(5n) {
	background-color: gray;
}

.item:nth-child(5n + 1) {
	order: 1;
}
.item:nth-child(5n + 2) {
	order: 2;
}
.item:nth-child(5n + 3) {
	order: 3;
}
.item:nth-child(5n + 4) {
	order: 4;
}
.item:nth-child(5n) {
	order: 5;
}
.item.break {
	flex-basis: 100%;
	width: 0;
}
